---
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import "../styles/global.css";
import TheHeader from "../sections/TheHeader.astro";
import TheHero from "../sections/TheHero.astro";
import TheProjects from "../sections/TheProjects.astro";
import TheExperience from "../sections/TheExperience.astro";

const tabClass = "w-fit hover:cursor-pointer data-[state=active]:bg-background dark:data-[state=active]:text-foreground focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:outline-ring dark:data-[state=active]:border-input dark:data-[state=active]:bg-input/30 text-foreground dark:text-muted-foreground inline-flex h-[calc(100%-1px)] flex-1 items-center justify-center gap-1.5 rounded-md border border-transparent px-2 py-1 text-sm font-medium whitespace-nowrap focus-visible:ring-[3px] focus-visible:outline-1 disabled:pointer-events-none disabled:opacity-50 data-[state=active]:shadow-sm [&_svg]:pointer-events-none [&_svg]:shrink-0 [&_svg:not([class*='size-'])]:size-4 !bg-transparent !border-none !shadow-none !font-light data-[state=active]:!font-bold transition-all duration-300 ease-out !text-neutral-400 dark:!text-neutral-400 data-[state=active]:!text-neutral-800 dark:data-[state=active]:!text-neutral-100";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<body class="flex flex-col font-geist-sans overscroll-none dark:bg-zinc-900 min-h-svh mb-4">
		
		<TheHeader />

		<main class="text-zinc-900 dark:text-zinc-100 max-w-2xl mx-auto px-4 flex flex-col gap-8 h-full">

			<TheHero />

			<nav class="text-muted-foreground inline-flex w-fit flex-wrap items-start justify-start rounded-lg border-none bg-transparent p-0 -ml-[8px]">
				<span id="projects-section" onclick="selectTab('projects')" class={tabClass + " active"} data-state="active">Projects</span>
				<span id="experience-section" onclick="selectTab('experience')" class={tabClass}>Experience</span>
				<!-- <span id="blog-section" onclick="selectTab('blog')" class={tabClass}>Blog</span> -->
			</nav>
	
			<TheProjects />
			<TheExperience />
			
		</main>

		<footer class="flex items-center justify-center mt-auto">
			<a href="https://rafita.me" class="text-sm text-zinc-400 dark:text-zinc-500 mt-4">rafita.me</a>
		</footer>
		
		
	</body>
</html>

<script is:inline>
			
	window.selectTab = function(tab) {
		// console.log("Tab seleccionado:", tab);

		[...document.querySelectorAll("section")].map(x => x.classList.add("hidden"));
		[...document.querySelectorAll("nav > span")].map(x => x.dataset.state = "");
		document.getElementById(`${tab}-section`).dataset.state = "active";
		document.getElementById(tab)?.classList.remove("hidden");
	};
	
</script>